<div class="lateral__menu__container">

      <p class="welcome__message">Bienvenido/a a:</p>

      <h2 class="sygris__caption">Sygris Sostenibilidad SCINF</h2>

      <nav class="navbar__lateral__container">
         <ul class="navbar__list">
            <li class="navbar__item">Negocio Digital</li>
            <li class="navbar__item">Modelos Operativos</li>
            <li class="navbar__item">Modelos Transversales</li>
            <li class="navbar__item">Modelos de Autoservicio</li>
         </ul>
      </nav>

</div>
