<div class="header__container">

   <div class="logo__container">
      <img src="../../assets/logos/logo_sygris_blanco.svg" alt="" class="logo">
      <div src="" alt="" class="separator"></div>
   </div>

   <div class="info__container">
      <div class="user__container">
         <div class="initials__container">
            <p class="initials">VD</p>
         </div>
         <p class="name">Victoria Díaz</p>
      </div>
      <div src="" alt="" class="separator"></div>
      <p class="spa">SPA</p>
      <div src="" alt="" class="separator"></div>
      <img src="../../assets/icons/general/power-off-light.svg" alt="" class="sing__out">
   </div>

</div>
