$colorWhite: #ffffff;

$colorWhiteSmoke: #f6f6f9;
$colorPrimaryGrey: #c1c1c1;
$colorSecondaryGrey: #4e4e4e;

$colorPrimaryRed: #db1b01;
$colorSecondaryRed: #ea3922;
$colorTertiaryRed: #eb523d;
$colorQuaternaryRed: #ff3a1d;

$colorPrimaryBlue: #00b9ff;
